{% block menu %}
    <div id="sidebar" class="4u">
        <section>
            <header>
                <h2>Kategorie</h2>
            </header>
            <ul>
                {% for kategoria in kategorie %}
                    <li><a href="{{ path('kategoriaid', { 'id': kategoria.id }) }}">{{ kategoria.nazwa }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}