{% extends 'index.html.twig' %}
{% block container %}
    <div class="row">
    <div class="col-lg-8" id="box_news">
        <h2>Wpis został usunięty. <a href="{{ path('dodajwpis') }}" class="btn btn-default btn-xs"
                                     role="button">Powrót</a></h2>
    </div>
    {% block menu %}
        {% include('menu.html.twig') %}
    {% endblock %}
{% endblock %}