{% extends 'index.html.twig' %}
{% block container %}
    <div id="box_news">
        <h2>LOGOWANIE</h2>
        {% if error %}
            <div id="blad">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <div id="formularz">
            <form action="{{ path('login') }}" method="post">
                <div>
                    <h3>Nazwa</h3>
                    <input class="form-control" type="text" id="username" name="_username"/>
                </div>
                <div>
                    <h3>Hasło</h3>
                    <input class="form-control" type="password" id="password" name="_password"/>
                </div>
                <div id="button">
                    <h3>
                        <button type="submit" class="btn btn-default btn-sm">Zaloguj</button>
                    </h3>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
