{% extends 'index.html.twig' %}
{% block container %}
    <div class="row">
        <div id="box_news">
            <h2>{{ kategoria.nazwa|upper }} </h2>
            <div>
                <ul class="list-unstyled">
                    {% for wpis in wpisy %}
                        <a href="{{ path('wpisid', { 'id': wpis.id }) }}"><h3>{{ wpis.temat }}</h3></a>
                    {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}