{% extends 'index.html.twig' %}
{% block container %}
    <div id="box_news">
        <div>
            <h2>{{ kategoria.nazwa }} </h2>
        </div>
        <div>
            <h3>
                {% for wpis in wpisy %}
                    <a href="{{ path('wpisid', { 'id': wpis.id }) }}"><h4>{{ wpis.temat }}</h4></a>
                {% endfor %}
            </h3>
        </div>
    </div>
{% endblock %}