{% extends 'index.html.twig' %}
{% block container %}
    <div id="main">
        <div class="container">
            <div class="row">
                <div id="content" class="8u skel-cell-important">
                    <div>
                        <header>
                            <h2>{{ kategoria.nazwa }}</h2>
                        </header>
                        <ul>
                            {% for wpis in wpisy %}
                                <li><a href="{{ path('wpisid', { 'id': wpis.id }) }}"><h3>{{ wpis.temat }}</h3></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% block menu %}
                    {% include('menu.html.twig') %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}