{% extends 'index.html.twig' %}
{% block container %}
    <div id="box_news">
        <h2>panel użytkownika</h2>
        <div>
            <div>
                <a href="{{ path('dodajkategorie') }}">Kategorie</a>
            </div>
            <div>
                <a href="{{ path('dodajwpis') }}">Wpisy</a>
            </div>
            <div>
                <a href="{{ path('logout') }}">Wyloguj</a>
            </div>
        </div>
    </div>
{% endblock %}