{% extends 'index.html.twig' %}
{% block container %}
    <div class="row">
        <div id="box_news">
            <h2>PANEL UŻYTKOWNIKA</h2>
            <div>
                <div>
                    <h3>
                        <a href="#">Dodaj wpis</a>
                    </h3>
                </div>
                <div>
                    <h3>
                        <a href="#">Dodaj wpis</a>
                    </h3>
                </div>
                <div>
                    <h3>
                        <a href="{{ path('logout') }}">Wyloguj</a>
                    </h3>
                </div>
            </div>
        </div>
{% endblock %}