{% extends 'index.html.twig' %}
{% block container %}
    <div class="col-lg-8" id="box_news">
        <h2>{{ wpis.temat|upper }}</h2>
        <p>{{ wpis.tresc|nl2br }}</p>
    </div>
    {% block menu %}
        {% include('menu.html.twig') %}
    {% endblock %}
{% endblock %}