{% extends 'index.html.twig' %}
{% block container %}
    <div class="col-lg-12" id="box_news">
        <div>
            <h2>{{ wpis.temat }}</h2>
        </div>
        <div>
            <h4>{{ wpis.tresc|raw }}</h4>
        </div>
    </div>
{% endblock %}