{% extends 'index.html.twig' %}
{% block container %}
    <div class="row">
        <div id="box_news">
            <h2>Programowanie</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget tortor vitae purus bibendum
                ornare at sit amet mauris. Cras ac erat eget urna faucibus pellentesque sit amet eget metus.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget tortor vitae purus bibendum
                ornare at sit amet mauris. Cras ac erat eget urna faucibus pellentesque sit amet eget
                metus. </p>
        </div>
{% endblock %}