{% extends 'index.html.twig' %}
{% block container %}
<div id="content_box">
    <div id="box_content" class="margin2">
        <img src="{{ asset('images/jq_logo.png') }}">
        <h2>Programowanie</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget tortor vitae purus bibendum
            ornare at sit amet mauris. Cras ac erat eget urna faucibus pellentesque sit amet eget metus.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget tortor vitae purus bibendum
            ornare at sit amet mauris. Cras ac erat eget urna faucibus pellentesque sit amet eget
            metus. </p>
    </div>
    <div id="box_content" class="margin4">
        <img src="{{ asset('images/jq_logo.png') }}">
        <h2>PHP i Symfony</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget tortor vitae purus bibendum
            ornare at sit amet mauris. Cras ac erat eget urna faucibus pellentesque sit amet eget metus.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget tortor vitae purus bibendum
            ornare at sit amet mauris. Cras ac erat eget urna faucibus pellentesque sit amet eget
            metus. </p>
    </div>
    <div id="box_content" class="margin4">
        <img src="{{ asset('images/jq_logo.png') }}">
        <h2>SQL</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget tortor vitae purus bibendum
            ornare at sit amet mauris. Cras ac erat eget urna faucibus pellentesque sit amet eget metus.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget tortor vitae purus bibendum
            ornare at sit amet mauris. Cras ac erat eget urna faucibus pellentesque sit amet eget
            metus. </p>
    </div>
</div>
{% endblock %}