{% extends 'index.html.twig' %}
{% block container %}
    <div id="main">
        <div class="container">
            <div class="row">
                <div id="content" class="12u skel-cell-important">
                    <section>
                        <header>
                            <h2>O mnie</h2>
                            <span class="byline">Ważne sa tylko te dni, których nie znamy</span>
                        </header>
                        <div id="zdjecie_profilowe">
                        <img src="{{ asset('images/aniazarem.jpg') }}" class="img-thumbnail"/>
                        </div>
                        <div>Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum
                            pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue
                            justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Consectetuer adipiscing elit.
                            Nam pede erat, porta eu, lobortis eget lorem ipsum dolor. Sed etiam vestibulum velit,
                            euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis
                            pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis
                            viverra elit. Fusce quis tortor. Consectetuer adipiscing elit. Nam pede erat, porta eu,
                            lobortis eget lorem ipsum dolor.</div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}