{% extends 'index.html.twig' %}
{% block container %}
    <div id="main">
        <div class="container">
            <div class="row">
                <div id="content" class="8u skel-cell-important">
                    <div>
                        <header>
                            <h2>{{ wpis.temat }}</h2>
                        </header>
                        <h4>{{ wpis.tresc|raw }}</h4>
                    </div>
                </div>
                {% block menu %}
                    {% include('menu.html.twig') %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}