{% extends 'index.html.twig' %}
{% block container %}
    <div class="container">
        <div class="row">
            <h2>Edytuj kategorię</h2>
            <div>
                {{ form_start(form, { 'attr': { 'novalidate': 'novalidate'}}) }}
                <div>
                    <div>
                        <div>
                            <label>Nazwa</label>
                        </div>
                        <div>
                            {{ form_widget(form.nazwa, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div id="blad">
                            {{ form_errors(form.nazwa) }}
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-default" type="submit">Edytuj kategorię</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% include('tabelaKategorii.html.twig') %}
{% endblock %}