{% extends 'index.html.twig' %}
{% block container %}
    <div class="row">
        <div class="col-lg-8" id="box_news">
            <div>
                <h2>EDYTUJ KATEGORIĘ</h2>
                {{ form_start(form, { 'attr': { 'novalidate': 'novalidate'}}) }}
                <div>
                    <div id="formularz">
                        <h4>Nazwa</h4>
                        {{ form_widget(form.nazwa, {'attr': {'class': 'form-control'}}) }}
                        <div style="color: red; ">{{ form_errors(form.nazwa) }}</div>
                    </div>
                    <div>
                        <h3>
                            <button type="submit" class="btn btn-default btn-sm">Edytuj kategorie</button>
                        </h3>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        {% block menu %}
            {% include('menu.html.twig') %}
        {% endblock %}
    </div>
    <div>
        {% block tabelaKategorii %}
            {% include('tabelaKategorii.html.twig') %}
        {% endblock %}
    </div>
{% endblock %}