{% extends 'index.html.twig' %}
{% block container %}
    <div id="box_news">
        <div>
            <h2>
                Kategoria została usunięta
            </h2>
        </div>
        <div id="button">
            <h3>
                <a href="{{ path('dodajkategorie') }}" class="btn btn-default btn-xs" role="button">Powrót</a>
            </h3>
        </div>
    </div>
{% endblock %}