{% extends 'index.html.twig' %}
{% block container %}
    <div class="row">
        <div class="col-lg-8" id="box_news">
            <div>
                <h2>Kategoria została zedytowana. <a href="{{ path('dodajkategorie') }}"
                                                     class="btn btn-default btn-xs"
                                                     role="button">Powrót</a></h2>
            </div>
        </div>
        {% block menu %}
            {% include('menu.html.twig') %}
        {% endblock %}
    </div>
{% endblock %}